:root{
    --color1: #FFBD00;
    --color2: #F24830;
    --color3: #fff;
    --color4: #333;
    --color5: #999;
}


*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    transform: .2s linear;
}

.heading{
    text-align: center;
    font-size: 2rem;
    color: #333;
    padding: 1rem;
    margin: 2rem ;
    background: rgba(255, 51, 153, .05);
}

.heading span{
    color: #F24830;
}

.btn{
    display: inline-block;
    margin: .5rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .7rem 2rem;
    cursor: pointer;
    font-size: 1.5rem;
    transition: .3s linear;
}
.btn:hover{
    background: var(--color1);
}

header{
    position: fixed;
    width: 100%;
    top: 0; left: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}
.logo span{
    color: #F24830;
}

.nav-bar a{
    font-size: 1rem;
    padding: .6rem 1.5rem;
    color: #666;
    transition: .4s linear;
    border-radius: 5px;
}
.nav-bar a:hover{
    color:#fff;
    background: #F24830;  
}


header #toggler{
    display: none;

}

header .fa-bars{
    font-size: 2rem;
    color: #333;
    border-radius: 3rem;
    padding: .6rem 1.9rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, .3);
    display: none;
}


.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../img/backgraund.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}



.home .content{
    min-width: 50rem;
    padding: 40px;
}

.home .content h3{
    font-size: 3rem;
    color: #fff;
}

.home .content h4{
    padding-top: 8px;
    color: #F24830;
}
.home .content p{
    font-size: 1rem;
    color: rgb(206, 205, 205);
    padding: 1rem 0;
    line-height: 1.5;
}




.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .img-container{
    flex: 1 1 40rem;
    
    display: flex;
    padding: 30px;
}
.about .row .img-container img{
    border-radius: 25%;
    width: 350px;
}
.about .row .img-container .divisa{
    padding: 20px;
}

.about .row .img-container h3{
    
    
    font-size: 2rem;
    color: #333;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content{
    flex: 1 1 40rem;
}



.about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.products .box-container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.products .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
}

.products .box-container .box .discount{
    position: absolute;
    top: 1rem; left: 1rem;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    color: var(--pink);
    background-color: rgba(255, 51, 153, .05);
    z-index: 1;
    border-radius: 5rem;
    
}


.products .box-container .box .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.products .box-container .box .image img{
    height: 20rem;
    border-radius: 50%;
}

.products .box-container .box:hover .image img{
    transform: scale(1.1);
}

.products .box-container .box .image .icons{
    position: absolute;
    bottom: -7rem; left: 0;right: 0;
    display: flex;
}

.products .box-container .box .image .icons a{
    height: 4rem;
    line-height: 4rem;
    font-size: 1rem;
    width: 50%;
    background: #FFBD00;
    color: #fff;
}

.products .box-container .box .image .icons .cart-btn{
    border-left: .1rem solid #fff7;
    border-right: .1rem solid #fff7;
    width: 100%;
}

.products .box-container .box:hover .image .icons{
    bottom: 0;
} 

.products .box-container .box .image .icons a:hover{
    background: #333;
}
.products .box-container .box .content {
    padding: 2rem;
    text-align: center;
}

.products .box-container .box .content h3{
    font-size: 2rem;
    color: #333;
}
.products .box-container .box .content .price{
    font-size: 1rem;
    color: #F24830;
    font-weight: bold;
    padding-top: 1rem;
}



.review .box-container .box .fa-quote-right{
    position: absolute;
    bottom: 3rem; right: 3rem;
    font-size: 6rem;
    color: rgb(221, 216, 216);
}

.review .box-container .box .stars i{
    color: var(--pink);
    font-size: 1rem;
}
.review .box-container .box p{
    color: #999;
    font-size: 1rem;
    line-height: 1.5;
    padding-top: 2rem;
}


.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box{
    padding: 20px;
    display: flex;
}


.review .box-container .box .user h3{
    font-size: 1rem;
    color: #333;
}
.review .box-container .box .user span{
    font-size: .5rem;
    color: #999;
}



.review .box-container .box .user img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}







@media (max-width:991px) {
    html{
        font-size: 75.5%;
    }

    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }
}

@media (max-width:768px) {
    header .fa-bars{
        display: block;
    }

    header .nav-bar{
        position: absolute;
        top: 80px; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 0 0);
    }
    header #toggler:checked ~ .nav-bar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .nav-bar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, .1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }
    .home .content h4{
        font-size: 2rem;
    }

    
}

@media (max-width:487px) {

    .home .content h3{
        font-size: 2.9rem;
    }

    .about .row .img-container{
        display: inline;
    }
    
    .about .row .img-container img {
        width: 350px;
    }

    .heading{
        font-size: 2.5rem;
    }
}



